.height-80 {
  height: 80%;
}

.height-10 {
  height: 10%;
}

.mt-10{
  top:10%;
}

.content {
  background-color: #DCB9B9;
}

.overflow {
  overflow: scroll;
}

body {
  height: 100%;
  width: 100%;
}
